<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.reallyenglish.extract-zip-file" version="0.2.3">
  <name>Extract Zip File</name>
  <description>Reallyenglish Extract Zip File</description>
  <license>Apache 2.0</license>
  <keywords>reallyenglish,extract-zip-file</keywords>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/ExtractZipFile.js" name="ExtractZipFile">
    <clobbers target="plugins.extractZipFile" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ExtractZipFile">
        <param name="ios-package" value="org.reallyenglish.extract-zip-file"/>
      </feature>
    </config-file>

    <header-file src="src/ios/ExtractZipFile.h" />
    <source-file src="src/ios/ExtractZipFile.m" />

    <header-file src="src/ios/SSZipArchive.h" />
    <source-file src="src/ios/SSZipArchive.m" />

    <header-file src="src/ios/minizip/crypt.h" target-dir="minizip"/>

    <source-file src="src/ios/minizip/ioapi.c" target-dir="minizip"/>
    <header-file src="src/ios/minizip/ioapi.h" target-dir="minizip"/>

    <source-file src="src/ios/minizip/mztools.c" target-dir="minizip"/>
    <header-file src="src/ios/minizip/mztools.h" target-dir="minizip"/>

    <source-file src="src/ios/minizip/unzip.c" target-dir="minizip"/>
    <header-file src="src/ios/minizip/unzip.h" target-dir="minizip"/>

    <source-file src="src/ios/minizip/zip.c" target-dir="minizip"/>
    <header-file src="src/ios/minizip/zip.h" target-dir="minizip"/>

    <framework src="Foundation.framework" />
    <framework src="libz.dylib" />
  </platform>
</plugin>